UseTab: true
IndentWidth: 8
AccessModifierOffset: -8
NamespaceIndentation: All
BreakBeforeBraces: Allman
SortIncludes: false
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
PointerAlignment: Left
ColumnLimit: 0
MacroBlockBegin: "^BEGIN_MESSAGE_MAP$"
MacroBlockEnd: "^END_MESSAGE_MAP$"
AlignConsecutiveMacros: Consecutive
