[*]
spelling_checkable_types = identifiers
spelling_exclusion_path = exclusion.dic
spelling_error_severity = error                     //sets severity assigned to spelling errors to error in the error list