namespace = "chronos-win10-enterprise-21h2"
windows-username = "clearcode"
windows-password = "%PASSWORD%"
windows-language-pack-url = ""
flash-installer-url = ""
hookdate-download-url = ""
debugview-download-url = ""
old-ie-download-url = ""
download-user = "browser-verify"
download-token = ""
